{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tessera{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <aside class="sidebar">
        <!-- TODO: Colar aqui o conteúdo da tag <aside class="sidebar"> do protótipo -->
    </aside>

    <main class="main-content">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>